<form [formGroup]="superheroForm" (ngSubmit)="onSubmit($event)">
    <!-- <div> -->
        <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="nameLabel">
        </mat-form-field>
        <mat-radio-group formControlName="genderLabel" class="full-width">
        <p>Gender</p>
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="full-width">
            <input matInput placeholder="Citizenship" formControlName="citizenshipLabel">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Skills" formControlName="skillsLabel">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Occupation" formControlName="occupationLabel">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Member of" formControlName="memberOfLabel">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Creator" formControlName="creatorLabel">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{editionMode() ? 'Edit' : 'Save'}}</button>
</form>